
	body {
		background: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
	}



		@media screen and (min-width: 961px) and (max-width: 1880px) {

			.container {
				width: 1200px;
			}

		}

		@media screen and (min-width: 961px) and (max-width: 1620px) {

			.container {
				width: 960px;
			}

		}

		@media screen and (min-width: 961px) and (max-width: 1320px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 960px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

		}


